
@import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: hsl(0, 0%, 100%);
    background-image: url("/assets/images/moon.jpeg");
    background-color: #000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 1200px;
    margin: auto;
}

main {
    min-height: calc(100vh - 350px);
}

/* headings and logo */



h2 {
    font-family: "Tourney", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #76FFDD;
    padding:20px
}

#logo {
    display: flex;
    padding: 20px;
    
}
#logo a {
    color: #ffffff;
    text-decoration: none;
    font-size: 3.5rem;
    font-family: "Tourney", sans-serif;
}
#nav-div {
    display: flex;
    padding-left: 50px;
    align-items: center;
}
#menu {
    font-size: 100%;
    letter-spacing: 2px;
    display: flex;
}

#menu li {
    line-height: 40px;
}

#menu li {
    list-style-type: none;
    margin-top: 25px;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #76FFDD;
}
.active {
    border-bottom: 1px solid #76FFDD;
}

/* Home Page Main Body */

#home-desc {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    }



#btc-chart {
    max-width: 400px;
}
#home-main {
    display: flex;
}

/* Home Page Buttons to Other Pages*/

#portfolio-button, #predictor-button {
    padding: 33px;
    text-align: center;
}

.button-home {
    text-align: center;
    color: #000000;
    text-decoration: none;
    border: 2px solid #ffffff;
    font-size: 110%;
    border-radius: 15px;
    cursor: pointer;
    background-color: #76FFDD;
    padding: 15px 32px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-transform: uppercase;
}

.button-home:hover {
    background-color: #00e9af;
    color: #ffffff;
    text-decoration: none;
}

.button-home:active {
    background-color: #76FFDD;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/*Footer*/

footer {
   
    padding: 30px;
}
.copyright {
    color: #ffffff;
    text-align: right;
}

.social-networks {
    text-align: right;
}
.social-networks > li {
    display: inline-block;
    margin: 5px;
    padding: 10px;
}

.social-networks i {
    font-size: 160%;
    margin: 5%;
    padding: 15%;
    color: #76FFDD;
}

/* my portfolio and my predictor table */

#portfolio-main {
    display: flex;
    flex-direction: column;
    }


#portfolio-table, #predictor-table {
    padding: 10px;
    border: 2px solid #76FFDD;
    margin: 30px;
    display: flex;
    background-color: #000000;
    color: rgb(255, 255, 255);
    
   
}
table, th, td {
    border: 1px solid #76FFDD;
    text-align: center; 
}

#portfolio-table h2 {
    margin-bottom: 20px;
}
.form-input {
    color: #ffffff;
    margin: 5px 0 20px 0;
    border: 2px solid #ffffff;
    padding: 10px;
    background-color: #000000;
    
}
.form-input:hover {
    border-color: #76FFDD;
}

.dollars:before {
        content: "$";
}

/* For Buttons My Portfolio and My Predictor */

#calculate-port {
    text-align: center;
    color: #000000;
    text-decoration: none;
    border: 2px solid #ffffff;
    border-radius: 15px;
    cursor: pointer;
    background-color: #76FFDD;
    padding: 15px 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-transform: uppercase;
    width: 100px;
    margin:10px
}

#calculate-port:hover {
    background-color: #00e9af;
}

#calculate-port:active {
    background-color: #76FFDD;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#add-coin {
    text-align: center;
    color: #000000;
    text-decoration: none;
    border: 2px solid #ffffff;
    border-radius: 15px;
    cursor: pointer;
    background-color: #76FFDD;
    padding: 15px 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-transform: uppercase;
    width: 100px;
    margin: 10px;
}

#add-coin:hover {
    background-color: #00e9af;
}

#add-coin:active {
    background-color: #76FFDD;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/* For instructions both pages*/

.instructions {
    padding-left: 50px;
}